@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    This website is a CRUD web application using ASP.Net MVC, the Entity Framework, 
    and the built-in scaffolding capabilities of ASP.Net MVC. On it you can manage
    contacts by using DataTables.js on the view so that it can easily display the data,
    as well as provide built-in javascript tools that will filter and sort the data.
</p>