@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <del>One Microsoft Way</del><br />
    <del> WA 98052-6399</del><br />
    <abbr title="Phone">P:</abbr>
    <del>425.555.0100</del>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com"><del>Support@example.com</del></a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com"><del>Marketing@example.com</del></a>
</address>