@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contact Web</h1>
    <p class="lead">
        This is an ASP.NET MVC website that allows us to manage our contacts. This website was created for a udemy.com course.
    </p>
    <p><a href="https://www.udemy.com/aspnet-mvc-quick-start/learn/v4/overview" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My contacts</h2>
        <p>
            This section contains the core of the website. There you can manage your contacts. 
        </p>
        <p>@Html.ActionLink("Learn more", "Index", "Contactoes", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            If you want to know more about this website, visit this section.
        </p>
        <p>@Html.ActionLink("Learn more", "About", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Contact me</h2>
        <p>
            In this section you can get my contact information.
        </p>
        <p>@Html.ActionLink("Learn more", "Contact", "Home", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>